<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cayden.collect">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".CollectApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".memo.tasks.TasksActivity" />
        <activity android:name=".memo.addedittask.AddEditTaskActivity" />
        <activity android:name=".memo.taskdetail.TaskDetailActivity" />
        <activity android:name=".memo.statistics.StatisticsActivity" />

        <service
            android:name=".service.MessengerService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.AIDLServerService"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.cayden.collect.service.AIDLServerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.AIDLActivity"
            android:label="@string/title_activity_aidl"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.DrawSimpleCircle"
            android:label="@string/title_activity_circle"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.DrawCircleActivity"
            android:label="@string/title_activity_radia"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.DeepLinksActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.example.androidtest" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TweenActivity" />
        <activity
            android:name=".activity.MediaProjectionActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.mvp.MvpActivity"
            android:label="@string/title_activity_mvp"
            android:theme="@style/AppTheme" />

        <service android:name=".study.binder.BinderPoolService" />

        <activity android:name=".activity.HandlerThreadActivity"></activity>
    </application>

</manifest>